body {
    padding-top: 50px;
}

.main-content {
    padding: 40px 15px;
    text-align: left;
}

/*
.chart-container {
    position: relative;
    margin: auto;
    height: 20vh;
    width: 80vw;
}

#myChart {
    position: relative; 
    height:45vh; 
    width:80vw
}
*/ 